@model Tp2Mod5.Models.PizzaViewModel

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div class="form-horizontal">
    @Html.Partial("_DisplayPizzaWithId")
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.pizza.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
